.menu {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	padding: 5% 4% 5% 7%;
}
.menu-el {
	position: relative;
	display: flex;
	margin: 20px 0;
	width: 35%;
	height: 170px;
	border-radius: 30px 0 30px 0;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
		rgba(0, 0, 0, 0.22) 0px 15px 12px;
	cursor: pointer;
	transition: transform 0.3s;
}
.menu-el:hover {
	transform: scale(0.95);
}
.menu-el-img {
	position: relative;
	width: 40%;
	height: 100%;
	background-position: center;
	background-size: cover;
}
.menu-el-special-offer {
	position: absolute;
	top: 25px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	color: white;

	width: 100px;
	height: 30px;
	background-color: red;
}
.menu-el-text {
	position: absolute;
	padding: 3%;
	right: 0;
	width: 65%;
	height: 100%;
	text-align: center;
	border-radius: 30px 0 0 0;
	background-color: white;
}
.menu-el-title {
	margin-bottom: 30px;
	font-family: 'Merienda', Courier, monospace;
}

/* ----- Panel box ---- */

.panel-controls {
	position: absolute;
	top: 100px;
	left: -80px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0 20px 10px 20px;
	width: 200px;
	height: 500px;
}
.panel-control {
	display: flex;
	justify-content: flex-end;
	width: 150px;
	padding: 5%;
	border: 1px solid black;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.3s;
}
.red-border-menu {
	border: 1px solid red;
	width: 200px;
}
@media (min-width: 996px) and (max-width: 1150px) {
	.menu-el {
		width: 55%;
		height: 250px;
	}
}
