.your-pizza {
	height: 90vh;
	width: 100%;
	background-image: url('../img/makepizza.jpg');
	background-position: center;
	background-size: cover;
}
.you-pizza-shadow {
	
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
}
.your-pizza-components {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 4% 5%;
}

.you-pizza-components-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 40%;
}
