
.header{
height: 90vh;
width: 100%;
}
.header-img{

    width: 100%;
    height: 90vh;
 

}

.title-slide-one{
    position: relative;
    bottom: 220px;
    font-size: 100px;
    margin-bottom: 30px;
    
}
.title-slide-one span{
    color: red;
    font-size: 120px;
}
.title-slide-two{
    position: relative;
    bottom: 500px;
    left: 350px;
    font-size: 70px;

}
.title-slide-three{
    position: relative;
    bottom: 400px;
    font-size: 100px;

}