.choice-panel-bcg {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.choice-panel {
	display: flex;
	justify-content: space-evenly;
	position: fixed;
	top: 200px;
	width: 60%;
	height: 500px;
	padding: 50px;
	background-color: white;
}
.choice-panel-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.choice-panel-img {
	display: inline-block;
	border-radius: 20px 0 20px 0;
	width: 400px;
	height: 400px;
	background-size: cover;
	background-position: center;
}

.choice-panel-close-btn {
	position: absolute;
	padding: 10px;
	right: 20px;
	top: 20px;
	cursor: pointer;
}
.choice-panel-size-pizza img {
	margin: 0 20px;
	border-radius: 50%;
	cursor: pointer;
}

.choice-panel-size-pizza {
	padding: 8%;
	width: 100%;
	height: 40%;
	text-align: center;
	background-color: white;
	border-radius: 10px;
	opacity: 0.7;
}
.choice-panel-base-choise {
	border: 2px solid red;
}
.choice-panel-add-btn {
	padding: 10px 20px;
}
.offer {
	position: relative;
	top: 60px;
	width: 130px;
	height: 40px;
	background-color: red;
}
.offer p {
	text-align: center;
	text-transform: uppercase;
	line-height: 40px;
	font-weight: bold;
	font-size: 18px;
	color: white;
}
